#wb_header { background: transparent none repeat scroll left top; height: 100px; }
#wb_header { height: 100px; }
#wb_main { background: transparent none repeat scroll left top; height: 5470px; }
#wb_main { height: 5470px; }
#wb_footer { background: #a6eb8a none repeat-x scroll left top; height: 100px; }
#wb_footer { height: 100px; }
body { background: #b1e094 none no-repeat fixed left top; }
.wb_sbg { background: transparent none repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 5121px; }
.root { width: 992px; height: 5121px; overflow: visible; }
#wb_element_instance0 { left: 680px; top: 110px; min-width: 308px; width: 308px; min-height: 200px; height: 200px; display: block; z-index: 355; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: none; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: left; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 10px 10px 10px 10px; }
#wb_element_instance0 li a { border: none; padding: 2px 2px 2px 2px; font: normal normal 22px Arial,sans-serif; color: #2c2c2c; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: none; font: normal normal 22px Arial,sans-serif; color: #43852d; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance0 li.active > a { border: none; font: normal normal 22px Arial,sans-serif; color: #43852d; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance1 { left: 0px; top: 2210px; min-width: 990px; width: 990px; min-height: 710px; height: 710px; display: block; z-index: 353; }
#wb_element_instance1 img { width: 990px; height: 710px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance2 { left: 0px; top: 2920px; min-width: 990px; width: 990px; min-height: 120px; height: 120px; display: block; z-index: 357; }
#wb_element_instance2 img { width: 990px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { left: 600px; top: 2960px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; z-index: 362; }
#wb_element_instance3 .wb_button { width: 320px; height: 50px; }
#wb_element_instance3 .wb_button { font-family: Helvetica,Arial,sans-serif; font-size: 30px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #1c9116; font-style: normal; font-weight: bold; text-decoration: none; background: #f5f5f5 none repeat scroll left top; }
#wb_element_instance3 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance3 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance4 {font-family: 'Rubik', sans-serif; background-color: #edebee; font-size: 30px; left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 350px; height: 350px; display: block; z-index: 363; padding: 20px 0px 0px 30px; line-height: 30px; box-sizing: border-box; font-weight: 700; color: black;}
.color{color: #02c778}
#wb_element_instance4 img { width: 990px; height: 350px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { left: 0px; top: 870px; min-width: 990px; width: 990px; min-height: 1340px; height: 1340px; display: block; z-index: 364; }
#wb_element_instance5 img { width: 990px; height: 1340px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance6 { left: 0px; top: 3040px; min-width: 990px; width: 990px; min-height: 2430px; height: 2430px; display: block; z-index: 370; }
#wb_element_instance6 img { width: 990px; height: 2430px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance7 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 530px; height: 530px; display: block; z-index: 371; }
#wb_element_instance7 img { width: 990px; height: 530px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance8 { left: 0px; top: 5490px; display: block; z-index: 9000; }
#wb_element_instance9 { left: 0px; top: 20px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 5470px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 992px; min-height: 5670px; }
	.root { width: 992px; height: 5670px; overflow: visible; }
	#wb_element_instance0 { left: 680px; top: 110px; min-width: 308px; width: 308px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance1 { left: 0px; top: 2210px; min-width: 990px; width: 990px; min-height: 710px; height: 710px; display: block; overflow: hidden; }
	#wb_element_instance1 img { width: 1000px; height: 720px; display: block; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance2 { left: 0px; top: 2920px; min-width: 990px; width: 990px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance2 img { width: 990px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 600px; top: 2960px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 .wb_button { width: 320px; height: 50px; }
	#wb_element_instance4 { left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 350px; height: 350px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 990px; height: 340px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance5 { left: 0px; top: 870px; min-width: 990px; width: 990px; min-height: 1340px; height: 1340px; display: block; }
	#wb_element_instance5 img { width: 990px; height: 1340px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 0px; top: 3040px; min-width: 990px; width: 990px; min-height: 2430px; height: 2430px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 990px; height: 2420px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 530px; height: 530px; display: block; overflow: hidden; }
	#wb_element_instance7 img { width: 990px; height: 542px; display: block; position: relative; left: 0px; top: -10px; max-width: inherit; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 5470px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 992px; min-height: 5670px; }
	.root { width: 992px; height: 5670px; overflow: visible; }
	#wb_element_instance0 { left: 680px; top: 110px; min-width: 308px; width: 308px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance1 { left: 0px; top: 2210px; min-width: 990px; width: 990px; min-height: 710px; height: 710px; display: block; overflow: hidden; }
	#wb_element_instance1 img { width: 1000px; height: 720px; display: block; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance2 { left: 0px; top: 2920px; min-width: 990px; width: 990px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance2 img { width: 990px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 600px; top: 2960px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 .wb_button { width: 320px; height: 50px; }
	#wb_element_instance4 { left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 350px; height: 350px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 990px; height: 340px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance5 { left: 0px; top: 870px; min-width: 990px; width: 990px; min-height: 1340px; height: 1340px; display: block; }
	#wb_element_instance5 img { width: 990px; height: 1340px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 0px; top: 3040px; min-width: 990px; width: 990px; min-height: 2430px; height: 2430px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 990px; height: 2420px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 530px; height: 530px; display: block; overflow: hidden; }
	#wb_element_instance7 img { width: 990px; height: 542px; display: block; position: relative; left: 0px; top: -10px; max-width: inherit; }
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 5470px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 992px; min-height: 5670px; }
	.root { width: 992px; height: 5670px; overflow: visible; }
	#wb_element_instance0 { left: 680px; top: 110px; min-width: 308px; width: 308px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance1 { left: 0px; top: 2210px; min-width: 990px; width: 990px; min-height: 710px; height: 710px; display: block; overflow: hidden; }
	#wb_element_instance1 img { width: 1000px; height: 720px; display: block; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance2 { left: 0px; top: 2920px; min-width: 990px; width: 990px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance2 img { width: 990px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 600px; top: 2960px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 .wb_button { width: 320px; height: 50px; }
	#wb_element_instance4 { left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 350px; height: 350px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 990px; height: 340px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance5 { left: 0px; top: 870px; min-width: 990px; width: 990px; min-height: 1340px; height: 1340px; display: block; }
	#wb_element_instance5 img { width: 990px; height: 1340px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 0px; top: 3040px; min-width: 990px; width: 990px; min-height: 2430px; height: 2430px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 990px; height: 2420px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 530px; height: 530px; display: block; overflow: hidden; }
	#wb_element_instance7 img { width: 990px; height: 542px; display: block; position: relative; left: 0px; top: -10px; max-width: inherit; }
}
